.card-in-top{
  height: 250px;
}

.card {
  margin-bottom: 8px;
}

.card-button{
  text-align: center;
}

.card-body{
  text-align: center;
}

.empty{
  text-align: center;
}

h1 {
  background-color: var(--vender-cyan);
  font-size: 35px; font-weight: 800;
  line-height: 90px;
  margin: 10px 0 24px;
  text-align: center;
}

.list-group-item{
  font-size: 15px;
}
